body {
  background-color: black;
  color: white;
  font-family: Arial;
  margin: 0;
}

header {
    background-color: #1e293b;
    padding: 30px;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

section {
    background-color: #020617;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

footer {
    background-color: #1e293b;
    text-align: center;
    padding: 10px;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 8px;
}

p {
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: auto;
}

header {
    border-radius: 0 0 15px;
}

section {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

footer {
    border-radius: 15px 15px 0 0;
}

a {
    color: 38bdf8;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px
}

button:hover {
    background-color: #1d4ed8;
}

img {
    border-radius: 50%;
    margin-top: 10px;
    border: 3px solid white;
}

.light {
    background-color: white;
    color: black;
}

.light section {
    background-color: #f1f5f9;
}

.light header,
.light footer {
    background-color: #e5e7eb;
}

section { 
    animation: aparecer 0.6s ease-in-out;
}

@keyframes aparecer {
    from { 
        opacity: 0;
        transform: translateY(10px);
    }
  }

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

textarea {
  height: 80px;
}

#btnEnviar {
  margin-top: 10px;
}

sobre {
    max-width: 800px;
    margin: 40px;
    text-align: conter;
}

section ul li {
    margin-bottom: 10px;
}

/* ===== MODO ESCURO ===== */
.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark header {
  background-color: #1e1e1e;
}

.dark section {
  background-color: #121212;
}

.dark button {
  background-color: #333;
  color: white;

}
